<!--
- Shawn Potter
- 1/28/2021
- info1.html
- Form page to ask users for their name, age, gender, and phone number
-->
<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Other Meta Tags -->
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

  <!-- Other Stylesheets -->
  <link rel="stylesheet" href="styles/styles.css">

  <title>Balanced</title>
</head>
<body class="bg-light">

<nav class="navbar navbar-expand-lg navbar-light bg-white mb-5 border">
  <a class="navbar-brand" href="{{ @BASE }}">Balanced</a>
</nav>

<div class="container border rounded bg-white" id="main">
 <form action="#" method="POST">
   <fieldset>
     <legend>
       Personal Information
     </legend>
     <hr>
     <div class="form-group">
       <label class="inputGroupLabel" for="firstName">First Name<sup class="text-danger">*</sup></label><br>
       <input type="text"
              class="form-control"
              id="firstName"
              name="firstName"
              value="{{ @fname }}"
              placeholder="Required"
       >
     </div>
     <span class="text-danger">
       <check if="{{ isset(@errors['fname']) }}">
         {{ @errors['fname'] }}
       </check>
     </span>
     <div class="form-group">
       <label class="inputGroupLabel" for="lastName">Last Name<sup class="text-danger">*</sup></label><br>
       <input type="text"
              class="form-control"
              id="lastName"
              placeholder="Required"
              name="lastName"
              value="{{ @lname }}"
       >
     </div>
     <span class="text-danger">
       <check if="{{ isset(@errors['lname']) }}">
         {{ @errors['lname'] }}
       </check>
     </span>
     <div class="form-group">
       <label class="inputGroupLabel" for="age">Age<sup class="text-danger">*</sup></label><br>
       <input type="text"
              class="form-control"
              placeholder="Required"
              id="age"
              name="age"
              value="{{ @age }}"
       >
     </div>
     <span class="text-danger">
       <check if="{{ isset(@errors['age']) }}">
         {{ @errors['age'] }}
       </check>
     </span>
     <div class="form-group">
       <label class="inputGroupLabel">Gender</label><br>
       <div class="form-check form-check-inline">
         <input class="form-check-input"
                type="radio"
                name="gender"
                id="genderMale"
                value="male"
                <check if="{{ @genderChoice == 'male' }}">checked</check>
         >
         <label class="form-check-label" for="genderMale">Male</label>
       </div>
       <div class="form-check form-check-inline">
         <input class="form-check-input"
                type="radio"
                name="gender"
                id="genderFemale"
                value="female"
                <check if="{{ @genderChoice == 'female' }}">checked</check>
         >
         <label class="form-check-label" for="genderFemale">Female</label>
       </div>
     </div>
     <span class="text-danger">
       <check if="{{ isset(@errors['gender']) }}">
         {{ @errors['gender'] }}
       </check>
     </span>
     <div class="form-group">
       <label class="inputGroupLabel" for="phone">Phone Number<sup class="text-danger">*</sup></label><br>
       <input type="text" class="form-control" id="phone" name="phone" placeholder="Required" value="{{ @phone }}">
     </div>
     <span class="text-danger">
       <check if="{{ isset(@errors['phone']) }}">
         {{ @errors['phone'] }}
       </check>
     </span>
     <div class="form-group">
       <label class="inputGroupLabel">Premium Membership</label><br>
       <div class="form-group w-auto">
         <input class="form-check-inline" type="checkbox" value="true" id="isPremium" name="isPremium">
         <label class="form-check-label" for="isPremium">Sign me up for a Premium Account!</label>
       </div>
     </div>
     <div class="form-group row justify-content-end">
       <div class="col-auto">
           <button type="submit" class="btn btn-primary">
             Next >
           </button>
       </div>
     </div>
   </fieldset>
 </form>
</div>


<!-- jQuery first, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

<!-- Optional JavaScript -->
</body>
</html>