<!--
- Shawn Potter
- 1/28/2021
- info1.html
- A summary page for all the SESSION data collected from the form the user filled out.
-->
<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Other Meta Tags -->
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

  <!-- Other Stylesheets -->
  <link rel="stylesheet" href="styles/styles.css">

  <title>Balanced</title>
</head>
<body class="bg-light">
<nav class="navbar navbar-expand-lg navbar-light bg-white mb-5 border">
  <a class="navbar-brand" href="{{ @BASE }}">Balanced</a>
</nav>
<div class="container border rounded bg-white" id="main">
  <div class="row w-100 mt-3">
    <div class="col-6">
      <div class="row mx-auto w-100">
        <div class="col-12 border p-3">
          <span>Name: {{ @SESSION.member->getFname() }} {{ @SESSION.member->getLname() }}</span>
        </div>
        <div class="col-12 border p-3">
          <span>Gender: {{ @SESSION.member->getGender() }}</span>
        </div>
        <div class="col-12 border p-3">
          <span>Age: {{ @SESSION.member->getAge() }}</span>
        </div>
        <div class="col-12 border p-3">
          <span>Phone: {{ @SESSION.member->getPhone() }}</span>
        </div>
        <div class="col-12 border p-3">
          <span>Email: {{ @SESSION.member->getEmail() }}</span>
        </div>
        <div class="col-12 border p-3">
          <span>State: {{ @SESSION.member->getState() }}</span>
        </div>
        <div class="col-12 border p-3">
          <span>Seeking: {{ @SESSION.member->getSeeking() }}</span>
        </div>
        <check if="{{ @SESSION.isPremium }}">-->
          <div class="col-12 border p-3">
            <span>
              Interests:{{ @SESSION.premium->getInDoorInterests() }}<check if="{{ !empty(@SESSION.indoorInterests) && !empty(@SESSION.outdoorInterests) }}">,</check>
              {{ @SESSION.premium->getOutDoorInterests() }}
            </span>
          </div>
        </check>
      </div>
    </div>
    <div class="col-6">
      <div class="row mx-auto w-100">
        <div class="col-12 text-center">
          <img
                  class="image"
                  id="standIn"
                  src="images/human.jpg"
                  alt="a black silhouette of a human"
          >
        </div>
        <div class="col-12">
          <h5>Biography</h5>
          <span>
            {{ @SESSION.member->getBio() }}
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center mt-5 mb-3">
    <div class="col-auto">
      <button type="submit" class="btn btn-lg btn-primary">
        Contact Me!
      </button>
    </div>
  </div>
</div>


<!-- jQuery first, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

<!-- Optional JavaScript -->
</body>
</html>